
* {
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    color: white;
    background-color: black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body::-webkit-scrollbar {
    display: none;
  }

a {
    text-decoration: none;
    color: white;
}

a:hover {
    padding-bottom: 5%;
    animation: 0.6s shake infinite;
}

@keyframes shake {
    0% {
        transform: translate(0px,0px) rotate(0deg);
    }
    25% {
        transform: translate(1px,1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px,-1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px,-1) rotate(2deg);
    }
    100% {
        transform: translate(-1px,1px) rotate(-1deg);
    }
}


.topNavLogo {
    width: 150px;
    height: 140px;
    font-size: 40px;
    margin-left: 5%;
    margin-top: 4%;
    font-weight: bold;
}

.topNavLogo:hover {
    padding-bottom: 5%;
    animation: 0.6s shake infinite;
}

nav {
    color: white;
    display: flex;
    position: absolute;
    left: 25%;
    top: 2%;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
    margin-top: 1%;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.3em;
}

nav .mainMenu li a:hover {
    font-size: 1.2rem;
    margin-top: 2%; 
}

nav .openMenu {
    font-size: 2rem;
    margin-top: 2%;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu , .mobile-icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

.title {
    width: 40%;
    font-size: 25px;
    padding-bottom: 2%;
    margin: 40% auto 10% auto;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid white;
}

.GalleryContainer {
    width: 30%;
    height: 60vh;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    margin-bottom: 5%;
}

.galleryBlock {
    width: 100%;
    height: 100%;
    background-color: blue;
    border-radius: 20%;
    filter: opacity(0.1);
    filter: grayscale(1.0);
    text-align: center;
    font-size: 0;
}

.GalleryContainer .galleryBlock:hover{
    filter: opacity(1.0);
    text-shadow: 5px 5px black;
    font-size: 16px;
    animation: 0.6s shake infinite;
}

.block-1 {
    background: url(imgs/MSG2.png) no-repeat 50% 50%;
    background-size: cover;
}

.block-2 {
    background: url(imgs/gundamCover.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-3 {
    background: url(imgs/Redprison.png) no-repeat 50% 50%;
    background-size: cover;
}

.block-4 {
    background: url(imgs/tvs.png) no-repeat 50% 50%;
    background-size: cover;
}

.block-5 {
    background: url(imgs/front\ viewBane.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-6 {
    background: url(imgs/oldCentaur.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-7 {
    background: url(imgs/plantside.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-8 {
    background: url(imgs/deepCover.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-9 {
    background: url(imgs/laundryCover.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-10 {
    background: url(imgs/sideDentist.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-11 {
    background: url(imgs/bk_front.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-12 {
    background: url(imgs/AtatCover.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.block-13 {
    background: url(imgs/tripod_Cover.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.mobile-Slide {
    display: none;
}

.backToTop {
    display: none;
}


@media screen and (min-width: 320px) and (max-width: 600px){
    /* styles */
 
    body {
        width: 100%;
        overflow-x: hidden;
    }

    .topNavLogo {
        width: 150px;
        height: 140px;
        position: absolute;
        top: 3.5%;
        left: 1%;
        font-size: 40px;
    }
  
    nav {
        position: absolute;
        top: 0;
        left: 89%;
        z-index: 100;
    }

    nav .mainMenu {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: top 30s ease;
        display: none;
        background-color: black;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 4%;
        right: 15px;
    }

    nav .openMenu {
        display: block;
        margin-top: 46px;
       
    }

    .mobile-icons i {
        display: inline-block;
        padding: 12px;
    }

    .title {
        margin-top: 55%;
    }

    .GalleryContainer {
        width: 70%;
        height: 40vh;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .GalleryContainer .galleryBlock {
        width: 100%;
        height: 100%;
        background-color: blue;
    }

}

@media screen and (min-width: 601px) and (max-width: 823px) {
    body {
    width: 100%;
    overflow-x: hidden;
}

.topNavLogo {
    width: 150px;
    height: 140px;
    position: absolute;
    top: 0;
}

nav {
    position: absolute;
    top: 0;
    z-index: 100;
    margin-left: 15%;
    margin-top: 5%;
}

.title {
    margin-top: 25%;
    margin-left: 32%;
}

}

@media screen and (min-width: 824px) and (max-width: 1023px) {

nav {
    position: absolute;
    top: 0;
    z-index: 100;
    margin-left: 24%;
    margin-top: 5%;
}

.title {
    margin-top: 10%;
    margin-left: 30%;
}

}

@media screen and (min-width: 1024px) {

nav {
    position: absolute;
    top: 0;
    z-index: 100;
    margin-left: 30%;
    margin-top: 3.5%;
}

.title {
    margin-top: 10%;
    margin-bottom: 5%;
}

}